@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
}
header{display: flex;
    justify-content: space-around;
align-items: center;}