@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgreen;
}

.header-menu {
    background-color: lightgreen;
    display: flex;
    padding: 10px;
    margin: 40px;
    list-style-type: none;

}

.deroulant li{
    float: left;
    width: 200px;
}

.sous{
    list-style-type: none;
}

#recipes {
    text-align: center;
}

#recipes h2 {
    font-size: xx-large;
}

#recipes #articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

#recipes article {
    height: 500px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    position: relative;
    background-color: lightgreen;
    color: black;
    transition: scale 0.5s;
}

#recipes article:hover {
    transition: 0.5s;
    scale: 1.025;
}

#recipes article a {
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

#recipes article a:hover {
    color: inherit;
}

#recipes article img {
    display: block;
    width: 100%;
    height: 40%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-fit: cover;
}

#recipes article .article-content {
    padding: 10px;
}

#recipes article h3 {
    margin-top: 5px;
}

#recipes article .click-for-more {
    position: absolute;
    bottom: -10px;
    width: 100%;
    color: green;
    font-weight: bold;
}