@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgreen;
}

.header-menu {
    background-color: lightgreen;
    display: flex;
    gap: 20px;
}

nav {
    margin: 0;
    background-color: lightgreen;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    text-align: center;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}